html {
  font-family: 2em "Amatic SC";
  font-border: 0.1px;
  height:100%;
}


.header {
  
	display: table;
    position: relative;
    width: 1920px;
    height: 1080px;
    background: url(../img/splash.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
	
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	}
	
.header-h1 {
	width:100%;
	max-width:960px;
	font: 6em "Amatic SC", cursive;
	color:white;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto;
	text-align:center;
}

.header-h3 {
	width:100%;
	max-width:960px;
	font: 3em "Amatic SC", cursive;
	color:white;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto;
	text-align:center;
}	
.learn-more {
	width:100%;
	max-width:960px;
	font: 2em "Amatic SC", cursive;
	color:#2E9AFE;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto;
	text-align:center;
}	

	
	nav   {
	margin-right:auto;
	margin-left:auto;
	clear:both;
	color:#2E9AFE;
	text-align:center;
	font: 33px "Amatic SC", cursive;
	
	}
		 
	 ul{ 
		list-style:none;
		background-color:#2E9AFE;
		padding:0.7em 0;
		
		}	 
	li{  display:inline;}
	li a{
		padding:1em ;
		color:white;
		border-right:1px solid white;
		border-left:1px solid white;
		text-decoration:none;
		font-weight:bold;
		}
		
	li a:hover{	color:orange;
				text-decoration:underline;
				font-weight:bold;
			}
